{% extends 'base_ru.html' %}
{% load static %}
{% block title %}
Главная - The Knowledge Academy
{% endblock %}

{% block content %}

<!-- #3d004e -->
    <!--! HEADER -->
    <header class="header-index">
        <div class="header-text">
            <p>Строим будущее вместе</p>
        </div>
        <div class="header-img">
            <img src="{% static 'img/header.png' %}" alt="" class="header-img-second">
        </div>
    </header>
    <div class="background-img-widget no-ph">
        <img src="{% static 'img/header-img.webp' %}" style="z-index: 999; background-color: #3d004e; width: 100%;" class="background-img">
    </div>
    <!--! HEADER -->

    <!--! MAIN -->
    <main class="main">
        <div class="info-block" id="head1">
            <div class="card-group no-ph">
                <div class="card-group-top no-ph">
                    <a href="#stan">
                        <div class="card-purple-first card-body">
                            <h3>Стань лучшим вместе с нами!</h3>
                            <!-- <p class="card-text">Из ИИТ и других колледжей высшего уровня со стажем работы более 10 лет.</p> -->
                        </div>
                    </a>
                    <a href="#school">
                        <div class="card-orange-first card-body">
                            <h3>Персонал</h3>
                            <!-- <p class="card-text">Из ИИТ и других колледжей высшего уровня со стажем работы более 10 лет.</p> -->
                        </div>
                    </a>
                </div>
                <div class="card-group-bottom no-ph">
                    <a href="#nashashkola">
                        <div class="card-orange-second card-body">
                            <h3>Особенности нашей школы</h3>
                            <!-- <p class="card-text">Из ИИТ и других колледжей высшего уровня со стажем работы более 10 лет.</p> -->
                        </div>
                    </a>
                    <a href="#highclass">
                        <div class="card-purple-second card-body">
                            <h3>Здоровье</h3>
                            <!-- <p class="card-text">Из ИИТ и других колледжей высшего уровня со стажем работы более 10 лет.</p> -->
                        </div>
                    </a>
                </div>
            </div>

            <div class="right-side">
                <div class="text-right">
                    <!-- ! <p class="pre-text" style="font-size: 36px;">The Knowledge Academy</p> -->
                    <h2 class="header-text-top text-ph">ДОБРО ПОЖАЛОВАТЬ в <br> "Knowledge Academy"</h2>
                    <div class="line no-ph"></div>
                    <p class="main_text" style="font-size: 25px;">
                        "Основной целью нашего учреждения является открытие школы, соответствующей требованиям времени и предоставляющей услуги высокого уровня. А также воспитание молодежи, которая могла бы мыслить, говорить и учиться на одном уровне с молодежью развитых стран Европы и Америки"     Вместо этого "Мы создаем  комфортные условия для обучения и всеобщего развития  учеников школы. Система нашего обучения позволяет раскрыть потенциал каждого учащегося. Наша школа - это прекрасный старт для успешного будущего вашего ребенка ! " 
                        <br> <span style="font-weight: bold; color: black;">Наша миссия:</span> 
                        <br> 1. Развить способности и таланты учащихся, в особенности в сфере английского языка и математики
                        <br> 2. Развить лидерские способности и навыки в различных сферах науки 
                        <br> 3. Улучшить физическое развитие детей
                    </p>
                </div>
                <!-- <div class="button-right">
                    <a href="">
                        <button class="btn-learn_more">Подробнее...</button>
                    </a>
                </div> -->
                <div class="button-right">
                    <a href="#head2">
                        <button class="btn-next no-ph">Далее</button>
                    </a>
                </div>
            </div>
        </div>

        <div class="info-block" id="head2">
            <div class="left-side">
                <div class="text-left">
                    <p class="pre-text" style="font-size: 36px;">The Knowledge Academy</p>
                    <h2 class="header-text-top text-ph">Безграничное обучение, большие возможности</h2>
                    <div class="line no-ph"></div>
                    <p class="iru-23 main_text">
                        The Knowledge Academy" - это школа, в которой уделяется равное внимание как образованию, так и всестороннему развитию ребенка. Для учеников младшей школы  мы подготовили шестидневную рабочую неделю,где суббота является коротким днем обучения. 
                        <br>А в выходные дни в нашей школе предусмотрены факультативные  занятия. Одно из преимуществ школы  - это то, что после окончаний занятий, учащиеся под наблюдением преподавателей переходят к выполнению домашних заданий, что дает возможность ребенку лучше усвоить программу обучения.
                        Помимо этого, учащимся предоставляется  возможность заниматься внеклассной деятельностью, которая будет предложена им на выбор. Дополнительные занятия и секции  способствуют развитию творческих и логических навыков, развитию самостоятельности и лидерства.
                    </p>
                    <!-- <div class="button-left">
                        <a href="">
                            <button class="btn-learn_more">Подробнее...</button>
                        </a>
                    </div> -->
                    
                    <div class="button-left">
                        <a href="#head3">
                            <button class="btn-next no-ph">Далее</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="image-card no-ph">
                <img src="{% static 'img/image-card1.png' %}" alt="">
            </div>
        </div>

        <div class="info-block" style="align-items: center; flex-direction: column;" id="head3">
            <div>
                <h3 class="pre-text" style="font-size: 36px;">The Knowledge Academy</h3>
            </div>
            <div>
                <h2 class="no-ph" style="font-size: 36px; margin: 10px; text-align: center;" id="stan">Стань лучшим вместе с нами!</h2>
            </div>
            <div class="line no-ph"></div>
            <div class="info-block">
                <div class="image-card-right no-ph">
                    <img src="{% static 'img/1image-div.png' %}" alt="">
                </div>
                <div class="text-right text-right-p">
                    <h2 class="text-right-h2 text-right-h2-pc">Получите лучшее образование</h2>
                    <p class="iru main_text main-text-pc">Обучение в "The Knowledge Academy" 
                        <br> 
                        откроет перед вашим ребенком широкие возможности для развития своих способностей в различных сферах науки и жизнедеятельности.
                    </p>
                </div>
                    <!-- !=============================== -->
                    <!-- !=============================== -->
                <div class="text-left text-left-p">
                    <h2 class="text-left-h2">Будь самым инновационным</h2>
                    <p class="iru main_text main-text-pc">Метод обучения в "The Knowledge Academy" позволяет подобрать индивидуальный подход  к каждому учащемуся! А современное школьное оборудование создает комфортные условия для обучения. Наши преподаватели регулярно повышают свою квалификацию и участвуют в тренингах от ведущих зарубежных специалистов.</p>
                </div>
                <div class="image-card-left no-ph">
                    <img src="{% static 'img/2image-div.png' %}" alt="">
                </div>
            </div>
        </div>

        <!-- ! About ASS -->

        <div class="container container-about">
            <div class="container-about-img">
                <img src="{% static 'img/header-about-1.webp' %}" alt="">
            </div>
            <div id="school" class="text-right text-right-first">
                <h2>Персонал</h2>
                <div class="line line-about"></div>
                <p class="aru">
                    Наша школа привлекает на работу учителей с высоким профессиональным уровнем, с соответствующим опытом работы по специальной программе.                                   
                    <br> 1) Наличие высшего педагогического образования                                                                                     
                    <br> 2) Творческие способности                                                                                                                                                   
                    <br> 3) Желание развиваться в сфере образования                                                                                                       
                    <br> 4) Любовь к детям                                                                                                                                                                           
                    <br> 5) Опыт работы педагогов не менее 3-ех лет в данной сфере
                </p>
            </div>
        </div>
    
        <!-- !здесь должна быть информация 110 учителей / 11 лет обучения / 1000 студентов! -->
    
        <div class="info_about_block">
            <div class="info-about-card">
                <div class="info-about">
                    <img src="{% static 'img/icons/teacher.png' %}" alt="">
                </div>
                <div class="for-ph">
                    <div class="info-about">
                        <p>***<span class="line-for-ph"> / </span></p>
                    </div>
                    <div class="line no-ph"></div>
                    <div class="info-about">
                        <p>И более</p>
                    </div>
                </div>
                <div class="info-about">
                    <p>Квалифицированных преподавателей в нашей команде</p>
                </div>
            </div>
    
            <div class="info-about-card">
                <div class="info-about">
                    <img src="{% static 'img/icons/calendar.ico' %}" alt="">
                </div>
                <div class="for-ph">
                    <div class="info-about">
                        <p>11<span class="line-for-ph"> / </span></p>
                    </div>
                    <div class="line no-ph"></div>
                    <div class="info-about">
                        <p>Лучших</p>
                    </div>
                </div>
                <div class="info-about">
                    <p>Школьных лет</p>
                </div>
            </div>
            
            <div class="info-about-card">
                <div class="info-about">
                    <img src="{% static 'img/icons/earth.png' %}" alt="">
                </div>
                <div class="for-ph">
                    <div class="info-about">
                        <p>1000<span class="line-for-ph"> / </span></p>
                    </div>
                    <div class="line no-ph"></div>
                    <div class="info-about">
                        <p>И более родителей</p>
                    </div>
                </div>
                <div class="info-about">
                    <p>Которые нам доверяют</p>
                </div>
            </div>
        </div>
    
        <!-- !============================================================================! -->
    
        <div class="container container-about">
            <div class="container-about-img">
                <img src="{% static 'img/card2.webp' %}" alt="">
            </div>
            <div id="nashashkola" class="text-right text-right-first">
                <h2>Особенности нашей школы</h2>
                <div class="line line-about"></div>
                <p class="aru">
                    1) Группы только до 20 человек, где образовательный процесс основывается на индивидуальном подходе к каждому ученику и в углубленном изучении всех предметов.                                                                                                                                                                                   
                    <br> 2) Здоровое питание 3 раза в день (второй завтрак, обед, полдник)                                                                                                                                                    
                    <br> 3) Обучение с 8:30 до 18:00 часов, что является большим преимуществом для родителей, которые не могут себе позволить выйти с работы в раннее время.                                                                                                                                                                                                                                  
                    <br> 4) Выполнения домашнего задания под надзором преподавателей в школе                                                                                                                                        
                    <br> 5) Спортивные кружки                                                                                                                                                                                                                                             
                    <br> 6)  Кружки рисования и танцев                                                                                                                                                                                                                           
                    <br> 7)Специальное транспортное средство
                </p>
            </div>
        </div>
    
        <div class="container container-about-reverse">
            <div class="text-right text-right-second">
                <h2 id="highclass" class="h2">Старшие классы</h2>
                <div class="line line-about-second"></div>
                <p class="text-right-second-p">Фундаментальное школьное образование - это одна из важнейших звеньев на пути к успешному будущему каждого человека. 
                    <br> Именно поэтому  в нашей школе будет функционировать комбинированная система 1+1. Данная  система образования включает в себя отечественную  выработанную  годами и показавшую  свой результат программу государственного стандарта  в сочетании с нашей уникальной программой  обучения.  
                    <br> Особенность нашей структуры обучение состоит в том, что она отличается уровнем сложности и ускоренным темпом обучения, которые будут предложены ученикам старших классов. Система основа на работах таких всемирно известных педагогов как М. МОНТЕССОРИ и Д. Ховарда, что позволит ученикам обучатся по продвинутым зарубежным стандартом и быть на уровне с молодежью стран Европы и Америки.                                                                                                                                           
                    <br> Помимо занятий программа бучения 10-11 классов включает в себя интенсивную подготовку к поступлению в  высшие учебные заведения Узбекистана и зарубежных стран. У старшеклассников также будет возможность заниматься внеклассной деятельностью, позволяющей им проводить свободное время продуктивно и посещать клубы и молодежные организации.
                </p>
            </div>
            <div class="container-about-reverse-img">
                <img style="width: 95%;" src="{% static 'img/header-about-3.webp' %}" alt="">
            </div>
        </div>

    </main>
    <!--! MAIN -->
    <div class="owl-carousel owl-theme index-slider">
        {% for slide in slider %}
            <div class="item">
                <img src="{{slide.image.url}}" alt="">
                <div class="container">
                    <h4><b>{{slide.title}}</b></h4>
                    {% if slide.text != null %}
                        <p>{{slide.text}}</p> 
                    {% else %}
                        <p>Учитель помогает вступить во взрослую жизнь, учит уважению, любви к ближнему, вечным ценностям, вкладывает нравственные понятия в души своих учеников. Талант учителя заключается в умении передать знания другому и в умении делать трудные вещи легкими. Учителем надо родиться.</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
